#root{
  background-color:#EEE;
  background-image: url("https://i.imgur.com/8yDlfGy.jpg");
  background-size: cover;
  background-attachment: fixed;
}
.HeaderContainer{
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EEE;
  background-image: url("https://i.imgur.com/8yDlfGy.jpg");
  background-size: cover;
  background-attachment: fixed;

}
.HeaderContainer h1{
  color: #17A2B8;
  font-size: 72px;
  padding-left: 30px;
  padding-right:30px;
  padding-bottom: 10px;
  -webkit-text-stroke: 1px black;
}
.RowAboutMe{
  background-color:#17A2B8;
  color: #EEE;
  text-align: center;
  min-height: 50vh;
}
.RowAboutMe h1{
  padding-top: 40px;

}
.RowAboutMe p{
  padding-top: 35px;
  padding-left: 100px;
  padding-right: 100px;
  font-size: 18px;

}
.aboutMeContainer{
  min-width: 100%;
}
.RowPreviousWork{
  color: #17A2B8;
  text-align: center;
  min-height: 40vh;
}
.RowPreviousWork h3{
  padding-top: 20px;
}
.PreviousWorkContainer{
  margin-top: 2%;
  margin-bottom: 5%;
  min-width:  90%;
}
.PreviousWorkContainer h1{
  font-size: 50px;
  text-align: center;
  color: #17A2B8;
  padding-bottom: 30px;
  -webkit-text-stroke: 1px black;
}
.firstColPreviousWork{
border: 7px solid #17A2B8;
background: url("https://media.giphy.com/media/1wr1y8tuwMEraP7RRn/giphy.gif");
background-size: cover;
}
.secondColPreviousWork{
border: 7px solid #17A2B8;
background: url("https://media.giphy.com/media/fQDf9LVqCRG33YJjPt/giphy.gif");
background-size: cover;
}
.thirdColPreviousWork{
border: 7px solid #17A2B8;
background: url("https://media.giphy.com/media/wHeD9NHDhwiNxGVkzf/giphy.gif");
background-size: cover;
}
.RowFooter{
  text-align: center;
  min-height: 10vh;
  background-color: #17A2B8;
}
.FooterContainer{
  min-width:  100%;
  padding-top: 5%;
}
.RowFooter ul{
  padding-top: 45px;
}
.RowFooter ul li{
  display: inline;
}
.RowFooter li a{
 text-decoration: none;
 padding: 20px 20px;
}
.ColFooter2{
  padding-top: 22px;
  color:#EEE;
}
.WeatherText h1{
  color: #EEE;
  font-size: 55px;
}
.WeatherText h4{
  color:#eee;
  font-size: 25px
}
.WeatherContainer{
  min-width: 100%;
  background-color: #17A2B8;
}

.WeatherRowContainer{
  height: 35vh;
  text-align: center;
  align-items: center;
}
.WeatherResult p{
  color:white;
}
.content{
  width: 100%;
    background-color: #17A2B8;
    color: white;
}
.content div{
  overflow: scroll;
  height: 250px;
}
.content p{
  border-bottom: 1px solid white;
  padding-bottom: 4px;
}
.content h1{
  font-size: 55px;
  text-align: center;
}
.content h4{
  font-size: 25px;
  text-align: center;
  padding-bottom: 3%;
}
