#root{
  background-color:#EEE;
}
.HeaderContainer{
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EEE;
}
.HeaderContainer h1{
  color: #17A2B8;
  font-size: 60px;
}
.RowAboutMe{
  background-color:#17A2B8;
  color: #EEE;
  text-align: center;
  min-height: 50vh;
}
.aboutMeContainer{
  min-width: 100%;
}
.firstCol h1{
  padding-top: 40px;
}
.secondCol h1{
  padding-top: 40px;
}
.firstCol p{
  padding-top: 35px;
  padding-left: 100px;
  padding-right: 100px;
  font-size: 18px;
}
.secondCol p{
  padding-top: 35px;
  padding-left: 100px;
  padding-right: 100px;
  font-size: 18px;
}
.RowPreviousWork{
  color: #17A2B8;
  text-align: center;
  min-height: 40vh;
}
.RowPreviousWork h3{
  padding-top: 20px;
}
.PreviousWorkContainer{
  margin-top: 5%;
  margin-bottom: 5%;
  min-width:  90%;
}
.firstColPreviousWork{
border: 7px solid #17A2B8;
}
.secondColPreviousWork{
border: 7px solid #17A2B8;
}
.thirdColPreviousWork{
border: 7px solid #17A2B8;
}
.RowFooter{
  color: #17A2B8;
  text-align: center;
  min-height: 10vh;
}
.FooterContainer{
  margin-top: 5%;
  min-width:  100%;
}
.ColFooter{
background-color: #17A2B8;
}
.ColFooter h3{
color: #EEE;
padding-top: 35px;
}
